* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Ginto, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}
.gradient-container {
  background: linear-gradient(180deg, #f8f4f0, #fdecd2);
  height: 100vh; /* Fixed height to cover exactly the viewport height */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
